data/train/images/*.*
!data/train/images/*.md
data/train/masks/*.*
!data/train/masks/*.md

data/val/images/*.*
!data/val/images/*.md
data/val/masks/*.*
!data/val/masks/*.md

#dev files
/learn
/trash

#models
*.pt