<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="../static/css/style.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>

    <div class="container">
        <h1 class="center-align">Biomedical PyTorch<img width="75px" src="../static/img/torch.png"></h1>
        <blockquote>
          Choose the set of augmentations:
        </blockquote>
        <form action="#">
            <p>
              <label>
                <input type="checkbox" class="filled-in" checked="checked" />
                <span>Random Vertical Flip</span>
              </label>
            </p>
            <p>
              <label>
                <input type="checkbox" class="filled-in" checked="checked" />
                <span>Random Horizontal Flip</span>
              </label>
            </p>
          </form>
          <a class="waves-effect waves-light btn">Apply augmentations</a>
    </div>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="../static/js/materialize.min.js"></script>
  </body>
</html>
      